In [2]:
import pandas as pd

df = pd.read_csv(r'C:\Users\micki\nauka Pytonga\aMasterPytong\from_sel\house0_Data_Folder_Location\20210930_00h_04h_converted\20210930_000151.csv',
                nrows = 300)

df

        timestamp  voltage  current    power
0    1.632957e+09  390.645    0.405  158.280
1             NaN  389.237    0.370  144.087
2             NaN  386.967    0.308  119.188
3             NaN  383.830    0.236   90.677
4             NaN  379.806    0.207   78.630
..            ...      ...      ...      ...
295           NaN  384.482    1.664  639.682
296           NaN  386.509    1.349  521.230
297           NaN  388.188    0.877  340.265
298           NaN  389.502    0.536  208.723
299           NaN  390.244    0.374  146.054

[300 rows x 4 columns]

In [3]:
# finding max value of power in first 300 samlpes

x = df['power'].max()
x

962.98

In [5]:
y = int(df['timestamp'][0])
# y = int(y)
y

1632956511

In [7]:
data = [['timestamp','W'], [y,x]]
data

[['timestamp', 'W'], [1632956511, 962.98]]

In [12]:
df_out = pd.DataFrame(data)
df_out.columns = df_out.iloc[0]
df_out = df_out.drop(0)
df_out

0   timestamp       W
1  1632956511  962.98

In [105]:
import os
rootdir = '\\Users\\micki\\nauka Pytonga\\aMasterPytong\\from_sel\\mini_test\\'

for subdir, dirs, files in os.walk(rootdir):
    for file in files:
        print(os.path.join(subdir, file))

\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_000151.csv
\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_000251.csv
\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_000350.csv
\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_000450.csv
\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_000550.csv
\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_000650.csv
\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_000750.csv
\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_000850.csv
\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_000950.csv
\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_001050.csv
\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_001150.csv
\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_001250.csv
\Users\micki\nauka Pytonga\aMasterPytong\from_sel\mini_test\20210930_001350.csv

In [48]:
dirs

[]

In [94]:
files

13

In [90]:
df = pd.read_csv(os.path.join(subdir, files[4]), nrows = 300)
x = df['power'].max()
y = int(df['timestamp'][0])

In [91]:
y

1632956750

In [111]:
import csv

# open the file in the write mode
g = open('\\Users\\micki\\nauka Pytonga\\aMasterPytong\\from_sel\\minuteRawDataHouse0.csv', 'w', newline='')

# create the csv writer
writer = csv.writer(g)

# write a row to the csv file
writer.writerow(['timestamp','W'])
# writer.writerow([1632956511, 962.98])
# writer.writerow([y,x])

# close the file
g.close()

In [92]:
import csv

# open the file in the write mode
g = open('\\Users\\micki\\nauka Pytonga\\aMasterPytong\\from_sel\\minuteRawDataHouse0.csv', 'a', newline='')

# create the csv writer
writer = csv.writer(g)

# append a row to the csv file
writer.writerow([y,x])

# close the file
g.close()

In [103]:
import csv

# open the file in the write mode
g = open('\\Users\\micki\\nauka Pytonga\\aMasterPytong\\from_sel\\minuteRawDataHouse0.csv', 'a', newline='')

# create the csv writer
writer = csv.writer(g)

for i in files:
    df = pd.read_csv(os.path.join(subdir, i), nrows = 300)
    x = df['power'].max()
    y = int(df['timestamp'][0])
    # append a row to the csv file
    writer.writerow([y,x])

# close the file
g.close()

In [109]:
import os

rootdir = '\\Users\\micki\\nauka Pytonga\\aMasterPytong\\from_sel\\test_nilm_folder\\'

import csv

# open the file in the write mode
g = open('\\Users\\micki\\nauka Pytonga\\aMasterPytong\\from_sel\\minuteRawDataHouse0.csv', 'a', newline='')

# create the csv writer
writer = csv.writer(g)
for subdir, dirs, files in os.walk(rootdir):
    for i in files:
        df = pd.read_csv(os.path.join(subdir, i), nrows = 300)
        x = df['power'].max()
        y = int(df['timestamp'][0])
        # append a row to the csv file
        writer.writerow([y,x])

# close the file
g.close()

In [110]:
files

['20210930_080048.csv',
 '20210930_080148.csv',
 '20210930_080248.csv',
 '20210930_080348.csv',
 '20210930_080448.csv',
 '20210930_080548.csv',
 '20210930_080648.csv',
 '20210930_080748.csv',
 '20210930_080848.csv',
 '20210930_080948.csv',
 '20210930_081048.csv',
 '20210930_081148.csv',
 '20210930_081248.csv',
 '20210930_081348.csv',
 '20210930_081448.csv',
 '20210930_081548.csv',
 '20210930_081648.csv',
 '20210930_081748.csv',
 '20210930_081848.csv',
 '20210930_081948.csv',
 '20210930_082048.csv',
 '20210930_082148.csv',
 '20210930_082248.csv',
 '20210930_082348.csv',
 '20210930_082448.csv',
 '20210930_082548.csv',
 '20210930_082648.csv',
 '20210930_082748.csv',
 '20210930_082848.csv',
 '20210930_082948.csv',
 '20210930_083048.csv',
 '20210930_083148.csv',
 '20210930_083248.csv',
 '20210930_083348.csv',
 '20210930_083448.csv',
 '20210930_083548.csv',
 '20210930_083648.csv',
 '20210930_083748.csv',
 '20210930_083848.csv',
 '20210930_083948.csv',
 '20210930_084048.csv',
 '20210930_084148.csv',
 '20210930_084248.csv',
 '20210930_084348.csv',
 '20210930_084448.csv',
 '20210930_084548.csv',
 '20210930_084648.csv',
 '20210930_084748.csv',
 '20210930_084848.csv',
 '20210930_084948.csv',
 '20210930_085048.csv',
 '20210930_085148.csv',
 '20210930_085248.csv',
 '20210930_085348.csv',
 '20210930_085448.csv',
 '20210930_085548.csv',
 '20210930_085648.csv',
 '20210930_085748.csv',
 '20210930_085848.csv',
 '20210930_085948.csv',
 '20210930_090048.csv',
 '20210930_090148.csv',
 '20210930_090248.csv',
 '20210930_090348.csv',
 '20210930_090448.csv',
 '20210930_090548.csv',
 '20210930_090648.csv',
 '20210930_090748.csv',
 '20210930_090848.csv',
 '20210930_090948.csv',
 '20210930_091048.csv',
 '20210930_091148.csv',
 '20210930_091248.csv',
 '20210930_091348.csv',
 '20210930_091448.csv',
 '20210930_091548.csv',
 '20210930_091648.csv',
 '20210930_091748.csv',
 '20210930_091848.csv',
 '20210930_091948.csv',
 '20210930_092048.csv',
 '20210930_092148.csv',
 '20210930_092248.csv',
 '20210930_092348.csv',
 '20210930_092448.csv',
 '20210930_092548.csv',
 '20210930_092648.csv',
 '20210930_092748.csv',
 '20210930_092848.csv',
 '20210930_092948.csv',
 '20210930_093048.csv',
 '20210930_093147.csv',
 '20210930_093247.csv',
 '20210930_093347.csv',
 '20210930_093447.csv',
 '20210930_093547.csv',
 '20210930_093647.csv',
 '20210930_093747.csv',
 '20210930_093847.csv',
 '20210930_093947.csv',
 '20210930_094047.csv',
 '20210930_094147.csv',
 '20210930_094247.csv',
 '20210930_094347.csv',
 '20210930_094447.csv',
 '20210930_094547.csv',
 '20210930_094647.csv',
 '20210930_094747.csv',
 '20210930_094847.csv',
 '20210930_094947.csv',
 '20210930_095047.csv',
 '20210930_095147.csv',
 '20210930_095247.csv',
 '20210930_095347.csv',
 '20210930_095447.csv',
 '20210930_095547.csv',
 '20210930_095647.csv',
 '20210930_095747.csv',
 '20210930_095847.csv',
 '20210930_095947.csv',
 '20210930_100047.csv',
 '20210930_100147.csv',
 '20210930_100247.csv',
 '20210930_100347.csv',
 '20210930_100447.csv',
 '20210930_100547.csv',
 '20210930_100647.csv',
 '20210930_100747.csv',
 '20210930_100847.csv',
 '20210930_100947.csv',
 '20210930_101047.csv',
 '20210930_101147.csv',
 '20210930_101247.csv',
 '20210930_101347.csv',
 '20210930_101447.csv',
 '20210930_101547.csv',
 '20210930_101647.csv',
 '20210930_101747.csv',
 '20210930_101847.csv',
 '20210930_101947.csv',
 '20210930_102047.csv',
 '20210930_102147.csv',
 '20210930_102247.csv',
 '20210930_102347.csv',
 '20210930_102447.csv',
 '20210930_102547.csv',
 '20210930_102647.csv',
 '20210930_102747.csv',
 '20210930_102847.csv',
 '20210930_102947.csv',
 '20210930_103047.csv',
 '20210930_103147.csv',
 '20210930_103247.csv',
 '20210930_103347.csv',
 '20210930_103447.csv',
 '20210930_103547.csv',
 '20210930_103647.csv',
 '20210930_103747.csv',
 '20210930_103847.csv',
 '20210930_103947.csv',
 '20210930_104047.csv',
 '20210930_104147.csv',
 '20210930_104247.csv',
 '20210930_104347.csv',
 '20210930_104447.csv',
 '20210930_104547.csv',
 '20210930_104647.csv',
 '20210930_104747.csv',
 '20210930_104847.csv',
 '20210930_104947.csv',
 '20210930_105047.csv',
 '20210930_105147.csv',
 '20210930_105247.csv',
 '20210930_105347.csv',
 '20210930_105447.csv',
 '20210930_105547.csv',
 '20210930_105647.csv',
 '20210930_105747.csv',
 '20210930_105847.csv',
 '20210930_105947.csv',
 '20210930_110047.csv',
 '20210930_110147.csv',
 '20210930_110247.csv',
 '20210930_110347.csv',
 '20210930_110447.csv',
 '20210930_110547.csv',
 '20210930_110647.csv',
 '20210930_110747.csv',
 '20210930_110847.csv',
 '20210930_110947.csv',
 '20210930_111047.csv',
 '20210930_111147.csv',
 '20210930_111247.csv',
 '20210930_111347.csv',
 '20210930_111447.csv',
 '20210930_111547.csv',
 '20210930_111647.csv',
 '20210930_111747.csv',
 '20210930_111847.csv',
 '20210930_111947.csv',
 '20210930_112047.csv',
 '20210930_112147.csv',
 '20210930_112247.csv',
 '20210930_112347.csv',
 '20210930_112447.csv',
 '20210930_112547.csv',
 '20210930_112647.csv',
 '20210930_112747.csv',
 '20210930_112847.csv',
 '20210930_112947.csv',
 '20210930_113047.csv',
 '20210930_113147.csv',
 '20210930_113247.csv',
 '20210930_113347.csv',
 '20210930_113447.csv',
 '20210930_113547.csv',
 '20210930_113647.csv',
 '20210930_113747.csv',
 '20210930_113847.csv',
 '20210930_113947.csv',
 '20210930_114047.csv',
 '20210930_114147.csv',
 '20210930_114247.csv',
 '20210930_114347.csv',
 '20210930_114447.csv',
 '20210930_114547.csv',
 '20210930_114647.csv',
 '20210930_114747.csv',
 '20210930_114847.csv',
 '20210930_114947.csv',
 '20210930_115047.csv',
 '20210930_115147.csv',
 '20210930_115247.csv',
 '20210930_115347.csv',
 '20210930_115447.csv',
 '20210930_115547.csv',
 '20210930_115647.csv',
 '20210930_115747.csv',
 '20210930_115847.csv',
 '20210930_115947.csv']

In [112]:
import os

rootdir = '\\Users\\micki\\nauka Pytonga\\aMasterPytong\\from_sel\\house0_Data_Folder_Location\\'

import csv

# open the file in the write mode
g = open('\\Users\\micki\\nauka Pytonga\\aMasterPytong\\from_sel\\minuteRawDataHouse0.csv', 'a', newline='')

# create the csv writer
writer = csv.writer(g)
for subdir, dirs, files in os.walk(rootdir):
    for i in files:
        df = pd.read_csv(os.path.join(subdir, i), nrows = 300)
        x = df['power'].max()
        y = int(df['timestamp'][0])
        # append a row to the csv file
        writer.writerow([y,x])

# close the file
g.close()

In [113]:
60*60*24

86400

In [115]:
7200/60/24

5.0